body {
  background-color: blue;
}
.container {
  text-align: center;
  
}

.background-portfolio {
  background-color: blue;
}
p {
  color: orangered;
  padding-left: 70px;
  
  
  
}
.github {
  color: orangered;
  text-align: left;
}
  


.images {
  padding-bottom: 200px;
  text-align: center;
}
h1 {
  color: orangered;
}
.git{
  color: orangered;
  padding-bottom: 10px;
  text-align: center;
}

